.form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 70px;
  padding-right: 50px;
}

.list {
  max-height: 200px;
  overflow: auto;
  position: fixed !important;
}
